In [1]:
#PRIMERO: Se llaman a los excels que se subieron al folder del Jupiter y se les asigna un Data Frame
import pandas as pd

gastopublicLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/GastopublicoEducacion.csv'
onuLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/ONU.csv'
reservaspetLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/Reservaspet.csv'

gastopublic=pd.read_csv(gastopublicLink)
onu=pd.read_csv(onuLink)
reservaspet=pd.read_csv(reservaspetLink)

In [2]:
#SEGUNDO: Se revisa como esta compuesta su matriz por filas y columnas
gastopublic.shape,onu.shape,reservaspet.shape

((192, 2), (193, 2), (99, 2))

In [3]:
#TERCERO: Se revisa el nombre de las cabeceras de cada columna de los Data Frames
gastopublic.columns,onu.columns,reservaspet.columns

(Index(['Countries', 'Education Expenditure ($M)'], dtype='object'),
 Index(['Countries', 'Annual GDP'], dtype='object'),
 Index(['Countries', 'Crude Oil Reserves'], dtype='object'))

In [4]:
#CUARTO: Se unen los tres Data Frames anteriores para formar un solo DF que contenga las columnas de las variables elegidas 
merge1=gastopublic.merge(onu,how='inner',left_on='Countries',right_on='Countries').merge(reservaspet,how='inner',left_on='Countries',right_on='Countries')
merge1

          Countries Education Expenditure ($M)  Annual GDP Crude Oil Reserves
0    United States                1,014,715.40  25,744,100          44,418.00
1   United Kingdom                  148,933.50   3,070,600           2,500.00
2          Germany                  197,848.90   4,075,395              115.2
3           France                  150,980.20   2,782,905               61.7
4            Japan                  155,149.20   4,233,538               44.1
..              ...                        ...         ...                ...
93      Uzbekistan                    2,964.80      80,392                594
94       Venezuela                    1,557.60     102,021         303,806.00
95        Viet Nam                   13,478.30     406,452           4,400.00
96           Yemen                    1,386.30      21,062           3,000.00
97    South Africa                   20,902.30     405,705                 15

[98 rows x 4 columns]

In [5]:
#QUINTO: Se revisa el numero de filas y columnas como resultado de la union
merge1.shape

(98, 4)

In [6]:
#SEXTO: Se reviso previamente el .csv que entrego el profesor, se observo una diferencia en la cabecera de la columna paises

In [7]:
#SETIMO: La diferencia consiste en que la cabecera del primer merge era plural, mientras que la otra era singular
# Por lo tanto, se renombra la columna del primer merge a fin de que coincida con la columna del .csv del profesor
merge1=merge1.rename(columns={"Countries": "Country"})
merge1

            Country Education Expenditure ($M)  Annual GDP Crude Oil Reserves
0    United States                1,014,715.40  25,744,100          44,418.00
1   United Kingdom                  148,933.50   3,070,600           2,500.00
2          Germany                  197,848.90   4,075,395              115.2
3           France                  150,980.20   2,782,905               61.7
4            Japan                  155,149.20   4,233,538               44.1
..              ...                        ...         ...                ...
93      Uzbekistan                    2,964.80      80,392                594
94       Venezuela                    1,557.60     102,021         303,806.00
95        Viet Nam                   13,478.30     406,452           4,400.00
96           Yemen                    1,386.30      21,062           3,000.00
97    South Africa                   20,902.30     405,705                 15

[98 rows x 4 columns]

In [8]:
#OCTAVO: Tambien se observa que en la DF del profesor, la columna Country posee elementos en mayuscula
# Por lo tanto, el merge1 se convierte a mayusculas para poder fusionarse con la DF del profesor
merge1['Country']= merge1['Country'].str.upper()
merge1

            Country Education Expenditure ($M)  Annual GDP Crude Oil Reserves
0    UNITED STATES                1,014,715.40  25,744,100          44,418.00
1   UNITED KINGDOM                  148,933.50   3,070,600           2,500.00
2          GERMANY                  197,848.90   4,075,395              115.2
3           FRANCE                  150,980.20   2,782,905               61.7
4            JAPAN                  155,149.20   4,233,538               44.1
..              ...                        ...         ...                ...
93      UZBEKISTAN                    2,964.80      80,392                594
94       VENEZUELA                    1,557.60     102,021         303,806.00
95        VIET NAM                   13,478.30     406,452           4,400.00
96           YEMEN                    1,386.30      21,062           3,000.00
97    SOUTH AFRICA                   20,902.30     405,705                 15

[98 rows x 4 columns]

In [9]:
merge1.Country=merge1.Country.str.strip()
merge1

           Country Education Expenditure ($M)  Annual GDP Crude Oil Reserves
0    UNITED STATES               1,014,715.40  25,744,100          44,418.00
1   UNITED KINGDOM                 148,933.50   3,070,600           2,500.00
2          GERMANY                 197,848.90   4,075,395              115.2
3           FRANCE                 150,980.20   2,782,905               61.7
4            JAPAN                 155,149.20   4,233,538               44.1
..             ...                        ...         ...                ...
93      UZBEKISTAN                   2,964.80      80,392                594
94       VENEZUELA                   1,557.60     102,021         303,806.00
95        VIET NAM                  13,478.30     406,452           4,400.00
96           YEMEN                   1,386.30      21,062           3,000.00
97    SOUTH AFRICA                  20,902.30     405,705                 15

[98 rows x 4 columns]

In [10]:
#DECIMO: Se incorpora el .csv del profesor y se le asigna un DF
import pandas as pd

countryisosLink='https://github.com/Clases-y-Evaluaciones-DelaCruz-Diana/Evaluation1-DelaCruz/raw/main/excelsdevariables/country_isos.csv'

countryisos=pd.read_csv(countryisosLink)

In [11]:
#NOVENO: Se revisa el numero de filas y columnas como resultado final de los cambios del merge1
merge1.shape

(98, 4)

In [12]:
#ONCEAVO: Se revisa el numero de filas y columnas 
countryisos.shape

(171, 5)

In [13]:
#DOCEAVO: Se revisa el nombre de las cabeceras de cada columna 
countryisos.columns

Index(['Country', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3'], dtype='object')

In [14]:
countryisos.Country=countryisos.Country.str.strip()
countryisos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [15]:
#TRECEAVO: Se comienza con el codigo para realizar Fuzzy merge para obtener el mayor numero de data relacionada de los paises
OnlyMerge1=set(merge1.Country)-set(countryisos.Country)
OnlyMerge1

{'BOLIVIA',
 'BRUNEI',
 "CÃ”TE D'IVOIRE",
 'DEMOCRATIC REPUBLIC OF THE CONGO',
 'IRAN',
 'ISRAEL',
 'NETHERLANDS',
 'NIGER',
 'PHILIPPINES',
 'REPUBLIC OF THE CONGO',
 'RUSSIA',
 'SOUTH AFRICA',
 'SUDAN',
 'SYRIA',
 'TÃœRKIYE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES',
 'VENEZUELA'}

In [16]:
Onlycountryisos=set(countryisos.Country)-set(merge1.Country)
Onlycountryisos

{'AFGHANISTAN',
 'ANTIGUA AND BARBUDA',
 'ARMENIA',
 'BAHAMAS (THE)',
 'BELGIUM',
 'BHUTAN',
 'BOLIVIA (PLURINATIONAL STATE OF)',
 'BOSNIA AND HERZEGOVINA',
 'BOTSWANA',
 'BRUNEI DARUSSALAM',
 'BURKINA FASO',
 'BURUNDI',
 'CABO VERDE',
 'CAMBODIA',
 'CENTRAL AFRICAN REPUBLIC (THE)',
 'COMOROS (THE)',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
 'CONGO (THE)',
 'COSTA RICA',
 'CYPRUS',
 "CâˆšÃ®TE D'IVOIRE",
 'DJIBOUTI',
 'DOMINICAN REPUBLIC (THE)',
 'EL SALVADOR',
 'ESTONIA',
 'ESWATINI',
 'FIJI',
 'FINLAND',
 'GAMBIA (THE)',
 'GRENADA',
 'GUINEA',
 'GUINEA-BISSAU',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'ICELAND',
 'IRAN (ISLAMIC REPUBLIC OF)',
 'IRELAND',
 'JAMAICA',
 'KENYA',
 'KOREA (THE REPUBLIC OF)',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)",
 'LATVIA',
 'LEBANON',
 'LESOTHO',
 'LIBERIA',
 'LUXEMBOURG',
 'MADAGASCAR',
 'MALAWI',
 'MALDIVES',
 'MALI',
 'MALTA',
 'MAURITIUS',
 'MICRONESIA (FEDERATED STATES OF)',
 'MOLDOVA (THE REPUBLIC OF)',
 'MONGOLIA',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NEPAL',
 'NETHERLANDS (THE)',
 'NICARAGUA',
 'NIGER (THE)',
 'NORTH MACEDONIA',
 'PANAMA',
 'PARAGUAY',
 'PHILIPPINES (THE)',
 'PORTUGAL',
 'RUSSIAN FEDERATION (THE)',
 'RWANDA',
 'SAMOA',
 'SAO TOME AND PRINCIPE',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SRI LANKA',
 'SUDAN (THE)',
 'SWEDEN',
 'SWITZERLAND',
 'TANZANIA, THE UNITED REPUBLIC OF',
 'TIMOR-LESTE',
 'TOGO',
 'TURKEY',
 'UNITED ARAB EMIRATES (THE)',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)',
 'URUGUAY',
 'ZAMBIA',
 'ZIMBABWE'}

In [17]:
#Se instala en el Anaconda "thefuzz"
from thefuzz import process as fz

[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(Onlycountryisos)]

[('AFGHANISTAN', ('SUDAN', 54)),
 ('ANTIGUA AND BARBUDA', ('SUDAN', 54)),
 ('ARMENIA', ('SOUTH AFRICA', 51)),
 ('BAHAMAS (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('BELGIUM', ('BRUNEI', 46)),
 ('BHUTAN', ('SUDAN', 55)),
 ('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BOSNIA AND HERZEGOVINA', ('SYRIA', 54)),
 ('BOTSWANA', ('SUDAN', 54)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('BURKINA FASO', ('SYRIA', 54)),
 ('BURUNDI', ('BRUNEI', 77)),
 ('CABO VERDE', ('UNITED ARAB EMIRATES', 54)),
 ('CAMBODIA', ('BOLIVIA', 53)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO', 69)),
 ('COMOROS (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
  ('DEMOCRATIC REPUBLIC OF THE CONGO', 95)),
 ('CONGO (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('COSTA RICA', ('SOUTH AFRICA', 64)),
 ('CYPRUS', ('RUSSIA', 50)),
 ("CâˆšÃ®TE D'IVOIRE", ("CÃ”TE D'IVOIRE", 96)),
 ('DJIBOUTI', ("CÃ”TE D'IVOIRE", 45)),
 ('DOMINICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO', 69)),
 ('EL SALVADOR', ('ISRAEL', 45)),
 ('ESTONIA', ('UNITED STATES', 51)),
 ('ESWATINI', ('SUDAN', 46)),
 ('FIJI', ('PHILIPPINES', 45)),
 ('FINLAND', ('NETHERLANDS', 56)),
 ('GAMBIA (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('GRENADA', ('IRAN', 45)),
 ('GUINEA', ('BRUNEI', 50)),
 ('GUINEA-BISSAU', ('UNITED STATES', 46)),
 ('GUYANA', ('SUDAN', 55)),
 ('HAITI', ('PHILIPPINES', 54)),
 ('HONDURAS', ('IRAN', 45)),
 ('ICELAND', ('NETHERLANDS', 64)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('IRELAND', ('IRAN', 73)),
 ('JAMAICA', ('SOUTH AFRICA', 51)),
 ('KENYA', ('VENEZUELA', 43)),
 ('KOREA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO', 79)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO', 86)),
 ('LATVIA', ('BOLIVIA', 62)),
 ('LEBANON', ('IRAN', 45)),
 ('LESOTHO', ('SOUTH AFRICA', 53)),
 ('LIBERIA', ('BOLIVIA', 57)),
 ('LUXEMBOURG', ('DEMOCRATIC REPUBLIC OF THE CONGO', 34)),
 ('MADAGASCAR', ('SUDAN', 36)),
 ('MALAWI', ('ISRAEL', 33)),
 ('MALDIVES', ("CÃ”TE D'IVOIRE", 45)),
 ('MALI', ('PHILIPPINES', 45)),
 ('MALTA', ('UNITED ARAB EMIRATES', 54)),
 ('MAURITIUS', ('RUSSIA', 45)),
 ('MICRONESIA (FEDERATED STATES OF)', ('UNITED STATES', 86)),
 ('MOLDOVA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO', 79)),
 ('MONGOLIA', ('BOLIVIA', 53)),
 ('MONTENEGRO', ('NIGER', 54)),
 ('MOZAMBIQUE', ('BRUNEI', 45)),
 ('NAMIBIA', ('IRAN', 45)),
 ('NEPAL', ('REPUBLIC OF THE CONGO', 54)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NICARAGUA', ('NIGER', 54)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('NORTH MACEDONIA', ('IRAN', 64)),
 ('PANAMA', ('IRAN', 45)),
 ('PARAGUAY', ('IRAN', 45)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('PORTUGAL', ('ISRAEL', 43)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('RWANDA', ('IRAN', 68)),
 ('SAMOA', ('DEMOCRATIC REPUBLIC OF THE CONGO', 54)),
 ('SAO TOME AND PRINCIPE', ('NIGER', 54)),
 ('SENEGAL', ('VENEZUELA', 50)),
 ('SEYCHELLES', ('NETHERLANDS', 48)),
 ('SIERRA LEONE', ('NIGER', 54)),
 ('SINGAPORE', ('SYRIA', 54)),
 ('SLOVENIA', ('BOLIVIA', 53)),
 ('SOLOMON ISLANDS', ('SUDAN', 54)),
 ('SRI LANKA', ('SYRIA', 57)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('SWEDEN', ('SUDAN', 55)),
 ('SWITZERLAND', ('IRAN', 68)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('UNITED KINGDOM', 86)),
 ('TIMOR-LESTE', ("CÃ”TE D'IVOIRE", 49)),
 ('TOGO', ('REPUBLIC OF THE CONGO', 68)),
 ('TURKEY', ('TÃœRKIYE', 67)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90)),
 ('URUGUAY', ('RUSSIA', 46)),
 ('ZAMBIA', ('BOLIVIA', 46)),
 ('ZIMBABWE', ('IRAN', 45))]

In [19]:
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(Onlycountryisos)
 if fz.extractOne(f, OnlyMerge1)[1]>=87]

[('BOLIVIA (PLURINATIONAL STATE OF)', ('BOLIVIA', 90)),
 ('BRUNEI DARUSSALAM', ('BRUNEI', 90)),
 ('CONGO (THE DEMOCRATIC REPUBLIC OF THE)',
  ('DEMOCRATIC REPUBLIC OF THE CONGO', 95)),
 ("CâˆšÃ®TE D'IVOIRE", ("CÃ”TE D'IVOIRE", 96)),
 ('IRAN (ISLAMIC REPUBLIC OF)', ('IRAN', 90)),
 ('NETHERLANDS (THE)', ('NETHERLANDS', 95)),
 ('NIGER (THE)', ('NIGER', 90)),
 ('PHILIPPINES (THE)', ('PHILIPPINES', 95)),
 ('RUSSIAN FEDERATION (THE)', ('RUSSIA', 90)),
 ('SUDAN (THE)', ('SUDAN', 90)),
 ('UNITED ARAB EMIRATES (THE)', ('UNITED ARAB EMIRATES', 95)),
 ('UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)',
  ('UNITED KINGDOM', 90)),
 ('UNITED STATES MINOR OUTLYING ISLANDS (THE)', ('UNITED STATES', 90))]

In [21]:
changesFragile1={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(Onlycountryisos)
                 if fz.extractOne(f, OnlyMerge1)[1] >=87}

changesFragile1

{'BOLIVIA (PLURINATIONAL STATE OF)': 'BOLIVIA',
 'BRUNEI DARUSSALAM': 'BRUNEI',
 'CONGO (THE DEMOCRATIC REPUBLIC OF THE)': 'DEMOCRATIC REPUBLIC OF THE CONGO',
 "CâˆšÃ®TE D'IVOIRE": "CÃ”TE D'IVOIRE",
 'IRAN (ISLAMIC REPUBLIC OF)': 'IRAN',
 'NETHERLANDS (THE)': 'NETHERLANDS',
 'NIGER (THE)': 'NIGER',
 'PHILIPPINES (THE)': 'PHILIPPINES',
 'RUSSIAN FEDERATION (THE)': 'RUSSIA',
 'SUDAN (THE)': 'SUDAN',
 'UNITED ARAB EMIRATES (THE)': 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND (THE)': 'UNITED KINGDOM',
 'UNITED STATES MINOR OUTLYING ISLANDS (THE)': 'UNITED STATES'}

In [20]:
countryisos.Country.replace(to_replace=changesFragile1,inplace=True)

In [21]:
OnlyMerge1=set(merge1.Country)-set(countryisos.Country)
Onlycountryisos=set(countryisos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(Onlycountryisos)]

[('AFGHANISTAN', ('ISRAEL', 50)),
 ('ANTIGUA AND BARBUDA', ('SYRIA', 36)),
 ('ARMENIA', ('SOUTH AFRICA', 51)),
 ('BAHAMAS (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('BELGIUM', ('REPUBLIC OF THE CONGO', 39)),
 ('BHUTAN', ('SOUTH AFRICA', 45)),
 ('BOSNIA AND HERZEGOVINA', ('SYRIA', 54)),
 ('BOTSWANA', ('SOUTH AFRICA', 40)),
 ('BURKINA FASO', ('SYRIA', 54)),
 ('BURUNDI', ('REPUBLIC OF THE CONGO', 37)),
 ('CABO VERDE', ('REPUBLIC OF THE CONGO', 36)),
 ('CAMBODIA', ('SYRIA', 36)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO', 69)),
 ('COMOROS (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('CONGO (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('COSTA RICA', ('SOUTH AFRICA', 64)),
 ('CYPRUS', ('SYRIA', 36)),
 ('DJIBOUTI', ('SOUTH AFRICA', 40)),
 ('DOMINICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO', 69)),
 ('EL SALVADOR', ('ISRAEL', 45)),
 ('ESTONIA', ('SYRIA', 50)),
 ('ESWATINI', ('SYRIA', 36)),
 ('FIJI', ('SOUTH AFRICA', 45)),
 ('FINLAND', ('SOUTH AFRICA', 39)),
 ('GAMBIA (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('GRENADA', ('VENEZUELA', 38)),
 ('GUINEA', ('VENEZUELA', 45)),
 ('GUINEA-BISSAU', ('ISRAEL', 45)),
 ('GUYANA', ('SYRIA', 36)),
 ('HAITI', ('SOUTH AFRICA', 36)),
 ('HONDURAS', ('SOUTH AFRICA', 40)),
 ('ICELAND', ('ISRAEL', 46)),
 ('IRELAND', ('ISRAEL', 62)),
 ('JAMAICA', ('SOUTH AFRICA', 51)),
 ('KENYA', ('VENEZUELA', 43)),
 ('KOREA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO', 79)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO', 86)),
 ('LATVIA', ('SOUTH AFRICA', 45)),
 ('LEBANON', ('REPUBLIC OF THE CONGO', 39)),
 ('LESOTHO', ('SOUTH AFRICA', 53)),
 ('LIBERIA', ('SYRIA', 50)),
 ('LUXEMBOURG', ('REPUBLIC OF THE CONGO', 27)),
 ('MADAGASCAR', ('SYRIA', 36)),
 ('MALAWI', ('ISRAEL', 33)),
 ('MALDIVES', ('REPUBLIC OF THE CONGO', 32)),
 ('MALI', ('REPUBLIC OF THE CONGO', 45)),
 ('MALTA', ('VENEZUELA', 36)),
 ('MAURITIUS', ('SYRIA', 36)),
 ('MICRONESIA (FEDERATED STATES OF)', ('SYRIA', 54)),
 ('MOLDOVA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO', 79)),
 ('MONGOLIA', ('REPUBLIC OF THE CONGO', 45)),
 ('MONTENEGRO', ('REPUBLIC OF THE CONGO', 45)),
 ('MOZAMBIQUE', ('VENEZUELA', 32)),
 ('NAMIBIA', ('SOUTH AFRICA', 39)),
 ('NEPAL', ('REPUBLIC OF THE CONGO', 54)),
 ('NICARAGUA', ('ISRAEL', 45)),
 ('NORTH MACEDONIA', ('SOUTH AFRICA', 52)),
 ('PANAMA', ('SOUTH AFRICA', 30)),
 ('PARAGUAY', ('SYRIA', 36)),
 ('PORTUGAL', ('ISRAEL', 43)),
 ('RWANDA', ('SYRIA', 36)),
 ('SAMOA', ('SYRIA', 40)),
 ('SAO TOME AND PRINCIPE', ('SOUTH AFRICA', 48)),
 ('SENEGAL', ('VENEZUELA', 50)),
 ('SEYCHELLES', ('ISRAEL', 38)),
 ('SIERRA LEONE', ('VENEZUELA', 46)),
 ('SINGAPORE', ('SYRIA', 54)),
 ('SLOVENIA', ('VENEZUELA', 47)),
 ('SOLOMON ISLANDS', ('ISRAEL', 45)),
 ('SRI LANKA', ('SYRIA', 57)),
 ('SWEDEN', ('ISRAEL', 33)),
 ('SWITZERLAND', ('ISRAEL', 45)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('REPUBLIC OF THE CONGO', 86)),
 ('TIMOR-LESTE', ('ISRAEL', 45)),
 ('TOGO', ('REPUBLIC OF THE CONGO', 68)),
 ('TURKEY', ('TÃœRKIYE', 67)),
 ('URUGUAY', ('SYRIA', 33)),
 ('ZAMBIA', ('SOUTH AFRICA', 45)),
 ('ZIMBABWE', ('ISRAEL', 43))]

In [26]:
#segundo
changesFragile2={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(Onlycountryisos)
                 if fz.extractOne(f, OnlyMerge1)[1] >=87}

#dict of matches
changesFragile2

{}

In [27]:
merge1.Country.replace(to_replace=changesFragile2,inplace=True)

In [28]:
OnlyMerge1=set(merge1.Country)-set(countryisos.Country)
Onlycountryisos=set(countryisos.Country)-set(merge1.Country)
[(f,fz.extractOne(f, OnlyMerge1)) for f in sorted(Onlycountryisos)]

[('AFGHANISTAN', ('ISRAEL', 50)),
 ('ANTIGUA AND BARBUDA', ('SYRIA', 36)),
 ('ARMENIA', ('SOUTH AFRICA', 51)),
 ('BAHAMAS (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('BELGIUM', ('REPUBLIC OF THE CONGO', 39)),
 ('BHUTAN', ('SOUTH AFRICA', 45)),
 ('BOSNIA AND HERZEGOVINA', ('SYRIA', 54)),
 ('BOTSWANA', ('SOUTH AFRICA', 40)),
 ('BURKINA FASO', ('SYRIA', 54)),
 ('BURUNDI', ('REPUBLIC OF THE CONGO', 37)),
 ('CABO VERDE', ('REPUBLIC OF THE CONGO', 36)),
 ('CAMBODIA', ('SYRIA', 36)),
 ('CENTRAL AFRICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO', 69)),
 ('COMOROS (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('CONGO (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('COSTA RICA', ('SOUTH AFRICA', 64)),
 ('CYPRUS', ('SYRIA', 36)),
 ('DJIBOUTI', ('SOUTH AFRICA', 40)),
 ('DOMINICAN REPUBLIC (THE)', ('REPUBLIC OF THE CONGO', 69)),
 ('EL SALVADOR', ('ISRAEL', 45)),
 ('ESTONIA', ('SYRIA', 50)),
 ('ESWATINI', ('SYRIA', 36)),
 ('FIJI', ('SOUTH AFRICA', 45)),
 ('FINLAND', ('SOUTH AFRICA', 39)),
 ('GAMBIA (THE)', ('REPUBLIC OF THE CONGO', 86)),
 ('GRENADA', ('VENEZUELA', 38)),
 ('GUINEA', ('VENEZUELA', 45)),
 ('GUINEA-BISSAU', ('ISRAEL', 45)),
 ('GUYANA', ('SYRIA', 36)),
 ('HAITI', ('SOUTH AFRICA', 36)),
 ('HONDURAS', ('SOUTH AFRICA', 40)),
 ('ICELAND', ('ISRAEL', 46)),
 ('IRELAND', ('ISRAEL', 62)),
 ('JAMAICA', ('SOUTH AFRICA', 51)),
 ('KENYA', ('VENEZUELA', 43)),
 ('KOREA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO', 79)),
 ("LAO PEOPLE'S DEMOCRATIC REPUBLIC (THE)", ('REPUBLIC OF THE CONGO', 86)),
 ('LATVIA', ('SOUTH AFRICA', 45)),
 ('LEBANON', ('REPUBLIC OF THE CONGO', 39)),
 ('LESOTHO', ('SOUTH AFRICA', 53)),
 ('LIBERIA', ('SYRIA', 50)),
 ('LUXEMBOURG', ('REPUBLIC OF THE CONGO', 27)),
 ('MADAGASCAR', ('SYRIA', 36)),
 ('MALAWI', ('ISRAEL', 33)),
 ('MALDIVES', ('REPUBLIC OF THE CONGO', 32)),
 ('MALI', ('REPUBLIC OF THE CONGO', 45)),
 ('MALTA', ('VENEZUELA', 36)),
 ('MAURITIUS', ('SYRIA', 36)),
 ('MICRONESIA (FEDERATED STATES OF)', ('SYRIA', 54)),
 ('MOLDOVA (THE REPUBLIC OF)', ('REPUBLIC OF THE CONGO', 79)),
 ('MONGOLIA', ('REPUBLIC OF THE CONGO', 45)),
 ('MONTENEGRO', ('REPUBLIC OF THE CONGO', 45)),
 ('MOZAMBIQUE', ('VENEZUELA', 32)),
 ('NAMIBIA', ('SOUTH AFRICA', 39)),
 ('NEPAL', ('REPUBLIC OF THE CONGO', 54)),
 ('NICARAGUA', ('ISRAEL', 45)),
 ('NORTH MACEDONIA', ('SOUTH AFRICA', 52)),
 ('PANAMA', ('SOUTH AFRICA', 30)),
 ('PARAGUAY', ('SYRIA', 36)),
 ('PORTUGAL', ('ISRAEL', 43)),
 ('RWANDA', ('SYRIA', 36)),
 ('SAMOA', ('SYRIA', 40)),
 ('SAO TOME AND PRINCIPE', ('SOUTH AFRICA', 48)),
 ('SENEGAL', ('VENEZUELA', 50)),
 ('SEYCHELLES', ('ISRAEL', 38)),
 ('SIERRA LEONE', ('VENEZUELA', 46)),
 ('SINGAPORE', ('SYRIA', 54)),
 ('SLOVENIA', ('VENEZUELA', 47)),
 ('SOLOMON ISLANDS', ('ISRAEL', 45)),
 ('SRI LANKA', ('SYRIA', 57)),
 ('SWEDEN', ('ISRAEL', 33)),
 ('SWITZERLAND', ('ISRAEL', 45)),
 ('TANZANIA, THE UNITED REPUBLIC OF', ('REPUBLIC OF THE CONGO', 86)),
 ('TIMOR-LESTE', ('ISRAEL', 45)),
 ('TOGO', ('REPUBLIC OF THE CONGO', 68)),
 ('TURKEY', ('TÃœRKIYE', 67)),
 ('URUGUAY', ('SYRIA', 33)),
 ('ZAMBIA', ('SOUTH AFRICA', 45)),
 ('ZIMBABWE', ('ISRAEL', 43))]

In [39]:
#tercero
changesFragile3={f:fz.extractOne(f, OnlyMerge1)[0] 
                 for f in sorted(Onlycountryisos)
                 if 54==fz.extractOne(f, OnlyMerge1)[1] >=55}

#dict of matches
changesFragile3

{}

In [26]:
#Se realiza el merge final donde se une el DF propio (merge1) con la DF del profesor (countryisos)
merge2=merge1.merge(countryisos) 
merge2

,Country,Education Expenditure ($M),Annual GDP,Crude Oil Reserves,Officialstatename,InternetccTLD,iso2,iso3
0,UNITED STATES,"1,014,715.40","25,744,100","44,418.00","BakerÂ¬â€ Island, HowlandÂ¬â€ Island, JarvisÂ¬â€ Island...",NaN,UM,UMI
1,UNITED KINGDOM,"148,933.50","3,070,600","2,500.00",The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,"197,848.90","4,075,395",115.2,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,"150,980.20","2,782,905",61.7,The French Republic,.fr,FR,FRA
4,JAPAN,"155,149.20","4,233,538",44.1,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
87,UKRAINE,"8,374.40","160,503",395,Ukraine,.ua,UA,UKR
88,UGANDA,"1,144.40","45,559","2,500.00",The Republic of Uganda,.ug,UG,UGA
89,UZBEKISTAN,"2,964.80","80,392",594,The Republic of Uzbekistan,.uz,UZ,UZB
90,VIET NAM,"13,478.30","406,452","4,400.00",The Socialist Republic of Viet Nam,.vn,VN,VNM
91,YEMEN,"1,386.30","21,062","3,000.00",The Republic of Yemen,.ye,YE,YEM

In [27]:
# Se procede a limpiar la data segun se requiera

In [28]:
# Se cambia el nombre de las cabeceras 
newmerge2={'Education Expenditure ($M)':'EduExpenditure_MD','Annual GDP':'AnnualGDP_MD','Crude Oil Reserves':'OilReserves_Mbbl','Officialstatename':'OfficialName','InternetccTLD':'InternetTLD'}
merge2.rename(columns=newmerge2,inplace=True)
merge2

,Country,EduExpenditure_MD,AnnualGDP_MD,OilReserves_Mbbl,OfficialName,InternetTLD,iso2,iso3
0,UNITED STATES,"1,014,715.40","25,744,100","44,418.00","BakerÂ¬â€ Island, HowlandÂ¬â€ Island, JarvisÂ¬â€ Island...",NaN,UM,UMI
1,UNITED KINGDOM,"148,933.50","3,070,600","2,500.00",The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,"197,848.90","4,075,395",115.2,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,"150,980.20","2,782,905",61.7,The French Republic,.fr,FR,FRA
4,JAPAN,"155,149.20","4,233,538",44.1,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
87,UKRAINE,"8,374.40","160,503",395,Ukraine,.ua,UA,UKR
88,UGANDA,"1,144.40","45,559","2,500.00",The Republic of Uganda,.ug,UG,UGA
89,UZBEKISTAN,"2,964.80","80,392",594,The Republic of Uzbekistan,.uz,UZ,UZB
90,VIET NAM,"13,478.30","406,452","4,400.00",The Socialist Republic of Viet Nam,.vn,VN,VNM
91,YEMEN,"1,386.30","21,062","3,000.00",The Republic of Yemen,.ye,YE,YEM

In [31]:
# Se eliminan las comas dentro de la tabla
merge2['EduExpenditure_MD']=merge2['EduExpenditure_MD'].str.replace(',','')
merge2

,Country,EduExpenditure_MD,AnnualGDP_MD,OilReserves_Mbbl,OfficialName,InternetTLD,iso2,iso3
0,UNITED STATES,1014715.40,"25,744,100","44,418.00","BakerÂ¬â€ Island, HowlandÂ¬â€ Island, JarvisÂ¬â€ Island...",NaN,UM,UMI
1,UNITED KINGDOM,148933.50,"3,070,600","2,500.00",The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,197848.90,"4,075,395",115.2,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,150980.20,"2,782,905",61.7,The French Republic,.fr,FR,FRA
4,JAPAN,155149.20,"4,233,538",44.1,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
87,UKRAINE,8374.40,"160,503",395,Ukraine,.ua,UA,UKR
88,UGANDA,1144.40,"45,559","2,500.00",The Republic of Uganda,.ug,UG,UGA
89,UZBEKISTAN,2964.80,"80,392",594,The Republic of Uzbekistan,.uz,UZ,UZB
90,VIET NAM,13478.30,"406,452","4,400.00",The Socialist Republic of Viet Nam,.vn,VN,VNM
91,YEMEN,1386.30,"21,062","3,000.00",The Republic of Yemen,.ye,YE,YEM

In [32]:
merge2['AnnualGDP_MD']=merge2['AnnualGDP_MD'].str.replace(',','')
merge2

,Country,EduExpenditure_MD,AnnualGDP_MD,OilReserves_Mbbl,OfficialName,InternetTLD,iso2,iso3
0,UNITED STATES,1014715.40,25744100,"44,418.00","BakerÂ¬â€ Island, HowlandÂ¬â€ Island, JarvisÂ¬â€ Island...",NaN,UM,UMI
1,UNITED KINGDOM,148933.50,3070600,"2,500.00",The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,197848.90,4075395,115.2,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,150980.20,2782905,61.7,The French Republic,.fr,FR,FRA
4,JAPAN,155149.20,4233538,44.1,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
87,UKRAINE,8374.40,160503,395,Ukraine,.ua,UA,UKR
88,UGANDA,1144.40,45559,"2,500.00",The Republic of Uganda,.ug,UG,UGA
89,UZBEKISTAN,2964.80,80392,594,The Republic of Uzbekistan,.uz,UZ,UZB
90,VIET NAM,13478.30,406452,"4,400.00",The Socialist Republic of Viet Nam,.vn,VN,VNM
91,YEMEN,1386.30,21062,"3,000.00",The Republic of Yemen,.ye,YE,YEM

In [33]:
merge2['OilReserves_Mbbl']=merge2['OilReserves_Mbbl'].str.replace(',','')
merge2

,Country,EduExpenditure_MD,AnnualGDP_MD,OilReserves_Mbbl,OfficialName,InternetTLD,iso2,iso3
0,UNITED STATES,1014715.40,25744100,44418.00,"BakerÂ¬â€ Island, HowlandÂ¬â€ Island, JarvisÂ¬â€ Island...",NaN,UM,UMI
1,UNITED KINGDOM,148933.50,3070600,2500.00,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,197848.90,4075395,115.2,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,150980.20,2782905,61.7,The French Republic,.fr,FR,FRA
4,JAPAN,155149.20,4233538,44.1,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
87,UKRAINE,8374.40,160503,395,Ukraine,.ua,UA,UKR
88,UGANDA,1144.40,45559,2500.00,The Republic of Uganda,.ug,UG,UGA
89,UZBEKISTAN,2964.80,80392,594,The Republic of Uzbekistan,.uz,UZ,UZB
90,VIET NAM,13478.30,406452,4400.00,The Socialist Republic of Viet Nam,.vn,VN,VNM
91,YEMEN,1386.30,21062,3000.00,The Republic of Yemen,.ye,YE,YEM

In [34]:
merge2['OfficialName']=merge2['OfficialName'].str.replace('Â¬â€ ',' ')
merge2

,Country,EduExpenditure_MD,AnnualGDP_MD,OilReserves_Mbbl,OfficialName,InternetTLD,iso2,iso3
0,UNITED STATES,1014715.40,25744100,44418.00,"Baker Island, Howland Island, Jarvis Island, J...",NaN,UM,UMI
1,UNITED KINGDOM,148933.50,3070600,2500.00,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,197848.90,4075395,115.2,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,150980.20,2782905,61.7,The French Republic,.fr,FR,FRA
4,JAPAN,155149.20,4233538,44.1,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
87,UKRAINE,8374.40,160503,395,Ukraine,.ua,UA,UKR
88,UGANDA,1144.40,45559,2500.00,The Republic of Uganda,.ug,UG,UGA
89,UZBEKISTAN,2964.80,80392,594,The Republic of Uzbekistan,.uz,UZ,UZB
90,VIET NAM,13478.30,406452,4400.00,The Socialist Republic of Viet Nam,.vn,VN,VNM
91,YEMEN,1386.30,21062,3000.00,The Republic of Yemen,.ye,YE,YEM

In [35]:
merge2['EduExpenditure_MD']=pd.to_numeric(merge2.EduExpenditure_MD)
merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            92 non-null     object
 1   EduExpenditure_MD  92 non-null     float64
 2   AnnualGDP_MD       92 non-null     object
 3   OilReserves_Mbbl   92 non-null     object
 4   OfficialName       92 non-null     object
 5   InternetTLD        91 non-null     object
 6   iso2               92 non-null     object
 7   iso3               92 non-null     object
dtypes: float64(1), object(7)
memory usage: 5.9+ KB

In [36]:
merge2['AnnualGDP_MD']=pd.to_numeric(merge2.AnnualGDP_MD)
merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            92 non-null     object
 1   EduExpenditure_MD  92 non-null     float64
 2   AnnualGDP_MD       92 non-null     int64
 3   OilReserves_Mbbl   92 non-null     object
 4   OfficialName       92 non-null     object
 5   InternetTLD        91 non-null     object
 6   iso2               92 non-null     object
 7   iso3               92 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 5.9+ KB

In [37]:
merge2['OilReserves_Mbbl']=pd.to_numeric(merge2.OilReserves_Mbbl)
merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            92 non-null     object
 1   EduExpenditure_MD  92 non-null     float64
 2   AnnualGDP_MD       92 non-null     int64
 3   OilReserves_Mbbl   92 non-null     float64
 4   OfficialName       92 non-null     object
 5   InternetTLD        91 non-null     object
 6   iso2               92 non-null     object
 7   iso3               92 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 5.9+ KB

In [38]:
merge2

,Country,EduExpenditure_MD,AnnualGDP_MD,OilReserves_Mbbl,OfficialName,InternetTLD,iso2,iso3
0,UNITED STATES,1014715.4,25744100,44418.0,"Baker Island, Howland Island, Jarvis Island, J...",NaN,UM,UMI
1,UNITED KINGDOM,148933.5,3070600,2500.0,The United Kingdom of Great Britain and Northe...,.uk,GB,GBR
2,GERMANY,197848.9,4075395,115.2,The Federal Republic of Germany,.de,DE,DEU
3,FRANCE,150980.2,2782905,61.7,The French Republic,.fr,FR,FRA
4,JAPAN,155149.2,4233538,44.1,Japan,.jp,JP,JPN
...,...,...,...,...,...,...,...,...
87,UKRAINE,8374.4,160503,395.0,Ukraine,.ua,UA,UKR
88,UGANDA,1144.4,45559,2500.0,The Republic of Uganda,.ug,UG,UGA
89,UZBEKISTAN,2964.8,80392,594.0,The Republic of Uzbekistan,.uz,UZ,UZB
90,VIET NAM,13478.3,406452,4400.0,The Socialist Republic of Viet Nam,.vn,VN,VNM
91,YEMEN,1386.3,21062,3000.0,The Republic of Yemen,.ye,YE,YEM